<h2 mat-dialog-title class="titulo">Editar Factura</h2>
<div mat-dialog-content class="caja-edicion">
  <label>Número Factura:</label>
  <input [(ngModel)]="factura.numeroFactura" class="input-field" />

  <label>Fecha de Emisión:</label>
  <input [(ngModel)]="factura.fechaEmision" type="date" class="input-field" />

  <label>Empresa:</label>
  <input [(ngModel)]="factura.empresa" class="input-field" />

  <label>NIF:</label>
  <input [(ngModel)]="factura.nif" class="input-field" />

  <label>Dirección:</label>
  <input [(ngModel)]="factura.direccion" class="input-field" />

  <label>Base Imponible:</label>
  <input [(ngModel)]="factura.baseImponible" class="input-field" (ngModelChange)="calcularTotal()" />

  <label>IVA:</label>
  <input [(ngModel)]="factura.iva" class="input-field" (ngModelChange)="calcularTotal()" />

  <label>Total:</label>
  <input [(ngModel)]="factura.total" class="input-field" [readOnly]="true" />
</div>
<div mat-dialog-actions class="botones">
  <button mat-button color="primary" (click)="saveChanges()">Guardar</button>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>
