<h1>BIENVENIDOS A LA PAGINA FACTURAS</h1>

<div class="contenedor-principal">
    <form class="form">
        <h1>INICIA SESION</h1>
        <div class="contenedor-secundario">
            <label for="">Email</label>
            <input type="text" name="email" id="email">
        </div>

        <div class="contenedor-secundario">
            <label for="">Contraseña</label>
            <input type="text" name="contraseña" id="contraseña">
        </div>

        <button type="submit">Iniciar Sesión</button>
        
    </form>
</div>
<button [routerLink]="'/lista-facturas'">Ir a Listado de Facturas</button>


